@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    background-color: #131A1E;
    color: #000000;
    --primary: 193, 40%, 86%;
    --select: 195, 58%, 87%;
    --accent: 160, 80%, 60%;
  }
}

nextjs-portal {
  display: none;
}